<div class="box" id="foot">

  <div class="field has-addons" id="footer-inside">
    <p class="control">
      <a class="link">
        <span class="icon is-small">
          <i class="fas fa-plus-circle" style="color: black;"></i>
        </span>
        <span onclick="window.location = '/addItem'" style="color: black;">&nbsp;Add Item&nbsp;&nbsp;&nbsp;&nbsp;</span>
      </a>
    </p>
    <p class="control">
      <a class="link is-right">
        <span class="icon is-small">
          <i class="fas fa-list" style="color: black;"></i>
        </span>
        <span onclick="window.location = '/userList'" style="color: black;">&nbsp;List&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      </a>
    </p>
    <p class="control">
      <a class="link">
        <span class="icon is-small">
          <i class="fas fa-barcode" style="color: black;"></i>
        </span>
        <span onclick="window.location = '/scanBarcode'" style="color: black;">&nbsp;Scan&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      </a>
    </p>
  </div>
</div>

</div>
