<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://sdk.clarifai.com/js/clarifai-latest.js"></script>
    <script type="text/javascript" src="https://s3.amazonaws.com/static.mlh.io/blog-code/2018-02-clarifai-nutrition-app/wolfram.js"></script>
    <!-- <script type="text/javascrip" src="javascripts/predict.js"></script> -->
</head>

<body>
  <section class="section">

    <div class="container">

      <div class="box is-shadowless" id="upload-box">
        <div class="content">
          <div id="upload-box-text">

          <form action="#">
            <div class="field" clconst Clarifai = require('clarifai');
            ass="wrapper">
              <input type="file" id="food-file" placeholder="Filename" size="100" onchange="previewFile()"/>
              <button onclick="predict_click($('#food-file').val(), 'file'); return false;">Get my Nutritional Breakdown!</button>
            </div>

              <div class="field">
                <div class="preview-food">
                  <img src="" id="food-img" height="0px">
                </div>
              </div>

              <!-- <div class="field">
              <button class="food-button" data-type="code-128">Upload</button>
            </div> -->
              <!-- <button onclick="read_barcode($('#barcode').val(), 'file'); return false;">Upload</button> -->
            </form>

          </div>
        </div>
      </div>


      <form method="POST" action="/submit/additem">
        <div class="field">
          <label class="label">Name of the product</label>
          <div class="control">
            <input class="input" type="text" placeholder="Banana" name="name">
          </div>
        </div>

        <div class="field">
          <label class="label">Original Price (AED)</label>
          <div class="control">
            <input class="input" type="number" placeholder="10" name="originalPrice">
          </div>
        </div>

        <div class="field">
          <label class="label">New Price (AED)</label>
          <div class="control">
            <input class="input" type="number" placeholder="10" name="newPrice">
          </div>
        </div>

        <div class="field">
          <label class="label">Expiry date</label>
          <div class="control">
            <input class="input" type="date" placeholder="" name="expiry-date">
          </div>
        </div>

        <div class="field">
          <label class="label">Additional notes</label>
          <div class="control">
            <input class="input" type="text" placeholder="" name="notes">
          </div>
        </div>

        <div class="control">
          <button class="button is-fullwidth" id="submit-button" onclick='buttonClick("submit-button")' type="submit">Submit</button>
        </div>
      </form>

    </div>
  </section>
  <% include partials/footer2 %>
</body>
<% include partials/script %>

</html>
