<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>

  <section class="section">

  <div class="container">

    <div class="field">
      <button class="button is-fullwidth" onclick="window.location = '/store'" >Store Page</button>
    </div>

    <div class="field">
      <button class="button is-fullwidth" onclick="window.location = '/shopper'" >Shopper Page</button>
    </div>

  </div>

  </section>
</body>
<% include partials/script %>
</html>
