<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>

  <section class="section">

  <div class="container">

    <div class="field">
      <button class="button is-fullwidth" onclick="window.location = '/storePostNewItem'" >Store - Post New Item</button>
    </div>

    <div class="field">
      <button class="button is-fullwidth" onclick="window.location = '/storeList'" >Store - Browse Items</button>
    </div>


    <div class="field">
      <button class="button is-fullwidth" onclick="window.location = '/shopperMap'" >Shopper Map</button>
    </div>

  </div>

  </section>
</body>
<% include partials/script %>
</html>
