<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body>


  <section class="section" id="main-page" onclick="window.location = '/userList'">
    <div class="container">


      <div class="content">
        <figure class="image is-256x256" id="logo">
          <img src="images/logo.png" alt="Image">
        </figure>



      </div>

<!--
      <div class="buttons is-centered">
        <a class="button is-link is-outlined is-right is-fullwidth" onclick="window.location = '/userList'">User</a>
      </div>

      <div class="buttons is-centered">
        <a class="button is-link is-outlined is-fullwidth" onclick="window.location = '/addItem'">Store</a>
      </div>

    </div>
  </section>
-->

</body>
<% include partials/script %>

</html>
