<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
</head>
<body>
<div class="container-fluid bg-3 text-center">
  <h3><%= page %></h3><br>
  <div class="columns">
    <div class="column">
      First page
    </div>
  </div>
</div>
</body>
<% include partials/script %>
</html>
