<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>

  <section class="section no-padding">

    <div class="container">

  <div class="box" id="map-box">
      <div id="mapid"></div>
  </div>

      <script>

        // Current latitute and langitude values
        var latlng = new L.LatLng(24.5246323,54.4323035);

        // Here 15 is used to set magnification, it can be adjusted based on the requirement
      	var mymap = L.map('mapid').setView(latlng, 15);

      	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
      		maxZoom: 18,
      		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
      			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
      			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      		id: 'mapbox.streets'
      	}).addTo(mymap);

      	var popup = L.popup();

        // Add new marker
        L.marker([24.5246323,54.4323035]).addTo(mymap)
        .bindPopup('<p><strong>Banana</strong><br>10 AED<br>Added on: 27/04/2019<br>Expiry date: 28/04/2019<br>Store Name: Name</p>')
        .openPopup();

      	mymap.on('click', onMapClick);

      </script>

    </div>

  </section>
</body>
<% include partials/script %>
</html>
