<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>

  <div class="box" id="head">
    <h3 style="color: white; margin-left:3px;"><b>Store Name</b></h3>
  </div>

  <section class="section">

    <div class="container">

      <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-96x96">
                <img src="images/banana1.jpg" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Banana</strong>
                  <br>
                  <del>13 AED</del>
                  <br>
                  10 AED
                  <br>
                  Added on: 27/04/2019
                  <br>
                  Expiry date: 28/04/2019
                </p>
              </div>
            </div>
          </article>
      </div>

      <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-96x96">
                <img src="images/eggs1.jpg" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Eggs</strong>
                  <br>
                  <del>15 AED</del>
                  <br>
                  12 AED
                  <br>
                  Added on: 27/04/2019
                  <br>
                  Expiry date: 29/04/2019
                </p>
              </div>
            </div>
          </article>
      </div>


      <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-96x96">
                <img src="images/orange.jpg" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Oranges</strong>
                  <br>
                    <del>30 AED</del>
                  <br>
                  25 AED
                  <br>
                  Added on: 26/04/2019
                  <br>
                  Expiry date: 28/04/2019
                </p>
              </div>
            </div>
          </article>
      </div>


      <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-96x96">
                <img src="images/chicken1.jpeg" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Chicken</strong>
                  <br>
                    <del>55 AED</del>
                  <br>
                  40 AED
                  <br>
                  Added on: 27/04/2019
                  <br>
                  Expiry date: 28/04/2019
                </p>
              </div>
            </div>
          </article>
      </div>

    </div>
  </section>
<% include partials/footer %>
</body>
<% include partials/script %>
</html>
