<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>
  <section class="section">

  <div class="container">

    <div class="box is-shadowless" id="upload-box">
      <div class="content">
        <div id="upload-box-text">

          <form action="#">
            <div class="field">
              <input type="file" id="barcode" placeholder="Filename" size="100" onchange="previewFile()"/>
            </div>

            <div class="field">
              <div class="preview-barcode">
                  <img src="" id="barcode-img" height="0px">
              </div>
            </div>

            <div class="field">
              <button class="barcode-button" data-type="code-128">Upload</button>
            </div>
            <!-- <button onclick="read_barcode($('#barcode').val(), 'file'); return false;">Upload</button> -->
          </form>

        </div>
      </div>
    </div>


    <form method="POST" action="/submit/additem">
        <div class="field">
          <label class="label">Name of the product</label>
          <div class="control">
            <input class="input" type="text" placeholder="Banana" name="name">
          </div>
        </div>

        <div class="field">
          <label class="label">Price (AED)</label>
          <div class="control">
            <input class="input" type="number" placeholder="10" name="price">
          </div>
        </div>

        <div class="field">
          <label class="label">Expiry date</label>
          <div class="control">
            <input class="input" type="date" placeholder="" name="expiry-date">
          </div>
        </div>

        <div class="field">
          <label class="label">Additional notes</label>
          <div class="control">
            <input class="input" type="text" placeholder="" name="notes">
          </div>
        </div>

        <div class="control">
          <button class="button is-fullwidth" id="submit-button" onclick='buttonClick("submit-button")' type="submit">Submit</button>
        </div>
    </form>

  </div>
  </section>
</body>
<% include partials/script %>
</html>
