#logo-text {
  text-align: center;
  font-family: Comfortaa;
  font-size: 24px;
  color: darkblue;
  margin-top: 50px;
}

#logo {
  margin-left: auto;
  margin-right: auto;
}

#store-button-left {
  position: absolute;
  margin-top: 20vh;
  left: 50px;
}

#user-button-right{
  position: absolute;
  right: 50px;
  margin-top: 20vh;
}

#upload-box {
  height: auto;
  width: 100%;
  border:3px dotted #666;
}

#upload-box-text {
  text-align: center;
}

#list-box {
  height: 140px;
  width: 100%;
}

#mapid {
  width: 100%;
  height: 90vh;
}

#map-box {
  height: auto;
  width: 100%;
  overflow:hidden;
  padding: 0px;
}

.no-padding {
  padding: 0px;
}
